<!------------------------ Carte VOTANT ------------------------>
<div class="carte-contenant ms-md-3 mx-3">
	<div class="carte-artiste-slider col-12 col-md-3 d-flex justify-content-center align-items-center text-center position-relative rounded-3">
		<img src="asset/icones/encoche-musique.svg" alt="encoche musique" id="encoche-musique" class="position-absolute top-0 end-0">
		<div class="position-absolute shadow text-white mb-5 mb-md-0">
			<p class="titre-card-artiste mb-0">{{project.projectName}}</p>
			<p class="text-card-artiste mb-0">{{project.projectName}}</p>
		</div>

		<div class="texte-bottom position-absolute bottom-0 start-0 end-0 d-flex justify-content-between text-white px-5">
			<p class="style-musique-card-artiste text-start shadow fw-bold"></p>
			{% for style in project.style %}
				<p class="text-card-artiste mb-0">{{style.name}}</p>
			{% endfor %}
			<p class="localisation-card-artiste text-end shadow">Paris</p>

		</div>
		<img src="asset/img/artiste-12.jpg" alt="photo artiste Gazou" class="image-carte-artiste rounded-3">
	</div>
</div>
