
    <!------------------------ Carte VOTANT ------------------------>
    <div class="carte-contenant mx-3">
        <div class="carte-artiste-slider mx-3 col-12 col-md-3 d-flex justify-content-center align-items-center text-center position-relative rounded-3">
            <img src="{asset/icones/encoche-musique.svg}" alt="encoche musique" id="encoche-musique" class="position-absolute top-0 end-0">
            <div class="position-absolute shadow text-white">
            </div>
            <div class="texte-bottom position-absolute bottom-0 start-0 end-0 d-flex justify-content-between px-5 text-white">
            </div>
            <img src="asset/img/artiste-12.jpg" alt="photo artiste Gazou" class="image-carte-artiste rounded-3">
        </div>
    </div>
