/************************************* IMPORT TYPO *************************************/

/***** Bebas Neue *****/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/***** Proxima regular *****/
@font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url(../font/Proxima-Nova/regular/Proxima-Nova-Regular.otf) format("opentype"),
        url(../font/Proxima-Nova/regular/Proxima-Nova-Regular.ttf) format("truetype"),
        url(../font/Proxima-Nova/regular/Proxima-Nova-Regular.woff) format("woff");
}

/***** Proxima bold *****/
@font-face {
    font-family: 'Proxima-Nova-Bold';
    src: url(../font/Proxima-Nova/bold/Proxima-Nova-Bold.otf) format("opentype"),
        url(../font/Proxima-Nova/bold/Proxima-Nova-Bold.ttf) format("truetype"),
        url(../font/Proxima-Nova/bold/Proxima-Nova-Bold.woff2) format("woff2");
}

/***** Good brush *****/
@font-face {
    font-family: 'Good-Brush';
    src: url(../font/Good-Brush/Good-Brush.otf) format("opentype"),
        url(../font/Good-Brush/Good-Brush.ttf) format("truetype"),
        url(../font/Good-Brush/Good-Brush.woff) format("woff");
}

/***** Digital Number *****/
@font-face {
    font-family: 'Digital-Number';
    src: url(../font/Digital-Number/Digital-Numbers-Regular.ttf) format("truetype"),
        url(../font/Digital-Number/Digital-Numbers-Regular.woff) format("woff");
}

/************************************* GENERAL *************************************/

/*********** Variables ***********/
:root {
    /** couleurs **/
    --meet-white: #FBF7FB;
    --meet-black: #1c0f22;
    --meet-dark-purple: #31193C;
    --meet-purple: #7836CC;
    --meet-light-purple: #D2A3FF;
    --meet-blue: #5322E0;
    --meet-pink: #E926BE;
    --meet-orange: #ef6b0b;
    --meet-light-orange: #f3a242;
    /* degrades */
    --meet-orange-gradient: linear-gradient(45deg, #ef6b0b, #f3a242);
    --meet-purple-gradient: linear-gradient(45deg, #8C35DD, #5322E0);
    --meet-pink-gradient: linear-gradient(-45deg, rgba(10, 28, 125, 0.8), rgba(245, 31, 250, .8));
    --meet-form-gradient: linear-gradient(0deg, rgba(127, 103, 142, 0.2), rgba(127, 103, 142, 0.2));
}

/*///// ! Privilégiez l'utilisation des variables pour éviter les erreurs /////*/

/*********** Début modif couleurs bootstrap ***********/
.text-white {
    color: var(--meet-white) !important;
}
/*********** Fin modif couleurs bootstrap ***********/

/*********** Début modif radius ***********/
.rounded-3 {
    border-radius: 10px !important;
}
/*********** Fin modif radius ***********/

/*********** Début général ***********/
html {
    font-size: 62.5%;
    /* font-size=1rem=10px*/
}

body {
    background: url(../img/background.jpg) no-repeat;
}

/*********** Fin général ***********/

/************************************* TYPOS *************************************/
nav a,
.boutons-registration,
#bouton-voir-projet {
    font-family: 'Bebas Neue';
    font-size: 2.3rem;
}

.filet-titres {
    height: 4px;
    width: 50%;
    max-width: 280px;
    background-color: var(--meet-white);
}

.chevron-titre {
    vertical-align: baseline;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.7rem;
}

h4,
h5,
h6 {
    font-family: 'Proxima-Nova-Bold';
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

/************************************* CARDS *************************************/
.carte-artiste {
    width: 390px;
    height: 485px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(120, 54, 204, 0.6);
}

.titre-carte-artiste {
    font-family: 'Bebas Neue';
    font-size: 3.6rem;
}

.texte-carte-artiste {
    font-family: 'Proxima-Nova-Regular';
    font-size: 2.3rem;
}

.style-musique-carte-artiste, .localisation-carte-artiste {
    font-family: 'Proxima-Nova-Regular';
    font-size: 2rem;
}

.texte-bottom-carte-artiste {
    font-family: "Proxima Nova";
}

.image-carte-artiste {
        object-fit: cover;
}

/************************************* IMAGES *************************************/

/************************************* BOUTONS *************************************/

/*********** Boutons Général ***********/
.btn:focus,
.btn:active {
    box-shadow: none;
}

.btn-outline-light:active {
    background-color: unset;
}

/*********** Fin Boutons Général ***********/

/*********** Boutons Navbar ***********/
.boutons-registration>button,
#bouton-voir-projet {
    font-size: 2.2rem;
    margin-right: 1vw;
}

/*********** Boutons inscription ***********/
#bouton-registration,
#bouton-voir-projet {
    color: var(--meet-orange);
    border: 3px solid;
    box-shadow: 0 0 1rem rgba(243, 162, 66, 0.5);
}

#bouton-registration.btn-outline-primary:hover,
#bouton-voir-projet.btn-outline-primary:hover {
    background-color: var(--meet-orange);
    color: var(--meet-white);
    border: 3px var(--meet-orange) solid;
}

#bouton-login.btn-outline-secondary {
    border: 0px;
}

#bouton-login.btn-outline-secondary:hover {
    background-color: unset;
    opacity: 0.8;
}

/*********** Boutons Créer un projet ***********/
#bouton-creer-projet {
    font-family: 'Proxima-Nova-Bold';
    background-image: var(--meet-purple-gradient);
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: ease-in-out;
}

#bouton-creer-projet:hover {
    background-image: none;
    background-color: var(--meet-blue);
}


/*********** Menu burger ***********/
#nav .navbar-toggler {
    border: none;
    font-size: 1.8rem;
}

#nav .navbar-toggler-icon {
    background-image: url(../icones/icone-burger.svg);
}

#nav .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/*********** Fin Boutons Navbar ***********/

/*********** Voir + ***********/
#bouton-voir-plus {
    font-family: 'Proxima-Nova-Regular';
    text-decoration: none;
    display: none;
}

/*********** Boutons nav secondaire (projets clos, candidatures ouvertes, votes ouverts) ***********/
#bouton-projets-clos-gauche,
#bouton-projets-clos-droit,
#bouton-candidatures-ouvertes-gauche,
#bouton-candidatures-ouvertes-droit,
#bouton-votes-ouverts-gauche,
#bouton-votes-ouverts-droit {
    font-family: 'Proxima-Nova-Regular';
    text-decoration: none;
    opacity: 0.5;
}

#bouton-projets-clos-droit::after,
#bouton-candidatures-ouvertes-droit::after,
#bouton-votes-ouverts-droit::after {
    /* chevron vers la droite */
    content: url(../icones/icone-chevron-droit.svg);
    vertical-align: middle;
    margin-left: .255em;
}

#bouton-projets-clos-gauche::before,
#bouton-candidatures-ouvertes-gauche::before,
#bouton-votes-ouverts-gauche::before {
    /* chevron vers la gauche */
    content: url(../icones/icone-chevron-gauche.svg);
    vertical-align: middle;
    margin-right: .255em;
}

#bouton-projets-clos-gauche:hover,
#bouton-projets-clos-droit:hover,
#bouton-candidatures-ouvertes-gauche:hover,
#bouton-candidatures-ouvertes-droit:hover,
#bouton-votes-ouverts-gauche:hover,
#bouton-votes-ouverts-droit:hover {
    opacity: 1;
}

/*********** Boutons Candidate ***********/
#bouton-candidate {
    /*display: none;*/
    font-family: 'Bebas Neue';
    background-color: var(--meet-light-orange);
    font-size: 2rem;
    color: var(--meet-white);
    margin-bottom: 70px;
}

#bouton-candidate:hover {
    background-image: var(--meet-orange-gradient);
}

/*********** Boutons Vote carte artiste ***********/
#bouton-vote-carte-artiste {
    /*display: none;*/
    font-family: 'Bebas Neue';
    background-color: var(--meet-orange);
    font-size: 1.5rem;
    color: var(--meet-white);
    margin-bottom: 70px;
}

#bouton-vote-carte-artiste:hover {
    background-color: var(--meet-dark-purple);
}

/*********** Boutons Vote ***********/
#bouton-vote {
    display: none;
    font-family: 'Bebas Neue';
    background-color: var(--meet-orange);
    font-size: 1.5rem;
    color: var(--meet-white);
}

#bouton-vote:hover {
    background-color: var(--meet-dark-purple);
}

/*********** Boutons Ajouter+ - Modifier ***********/
#bouton-ajouter,
#bouton-modifier {
    font-family: 'Proxima-Nova-Regular';
}

/*********** Boutons Suivant - Précédent - Valider ***********/
#bouton-suivant,
#bouton-precedent,
#bouton-valider {
    font-family: 'Bebas Neue';
}

.chevron-bouton-suivant {
    stroke: var(--meet-orange);
}

#bouton-suivant {
    color: var(--meet-orange);
}

#bouton-valider {
    background-image: var(--meet-orange-gradient);
}

#bouton-suivant:hover,
#bouton-precedent:hover,
#bouton-valider:hover {
    scale: 1.1;
    transition: all 0.5s;
}

/*********** Deviens Maker ***********/
#bouton-deviens-maker {
    font-family: 'Bebas Neue';
    background-image: var(--meet-orange-gradient);
}

/************************************* TAGS *************************************/

/*********** Musicien - Vidéaste ***********/
#tag-musicien,
#tag-videaste {
    background-image: var(--meet-purple-gradient);
}

/*********** Style musique ***********/
.tag, .tag-dark {
    display: inline-block;
    font-family:'Bebas Neue';
    width: 8vw;
    min-width: 100px;
}

.tag {
    background-image: var(--meet-purple-gradient);
}

.tag-dark {
    background-color: var(--meet-black);
}

/************************************* FIN TAGS *************************************/

/************************************* NAVBARRE *************************************/
#nav #logo-nav {
    height: 65px;
}

#nav.bg-dark {
    background-color: var(--meet-black) !important;
}

#nav .dropdown-menu {
    background-color: var(--meet-dark-purple);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 0 2rem 2rem;
}

#nav .dropdown-item {
    font-size: 2rem;
}

#nav .dropdown-item:hover {
    background-color: unset;
    opacity: 0.8;
}

#nav .dropdown-toggle::after {
    content: url(../icones/icone-chevron-bas.svg);
    border: none;
    vertical-align: middle;
}

#nav .dropdown-toggle::after {
    content: url(../icones/icone-chevron-bas.svg);
    border: none;
    vertical-align: middle;
}

/*********** Searchbar ***********/
.checkbox-searchbar {
    display: block;
    order: 3;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Quand on a pas cliqué sur la loupe */
.checkbox-searchbar::before {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    font-weight: 900;
    font-size: 2.5rem;
}

/* Quand on a cliqué sur le menu */
.checkbox-searchbar:checked::before {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    font-weight: 900;
    font-size: 2.5em;
    color: var(--meet-orange);
    display: block;
    background-color: var(--meet-white);
    width: 250px;
    border-radius: 50px;
    text-align: right;
    padding: 0 7%;

}

/*********** Profil ***********/
#profil-maker {
    text-decoration: none;
    color: var(--meet-orange);
}

/******************* MODALE *******************/
.modal-content {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border: 1px solid var(--meet-purple);
    border-radius: 1.3rem;
    background-color: var(--meet-black);
    background-image: linear-gradient(-45deg, rgba(120, 54, 204, 0.7), rgba(120, 54, 204, 0));
    box-shadow: 0 0 15px 4px rgba(120, 54, 204, 0.6);
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--meet-white);
    background: transparent url("../icones/icone-close.svg") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    font-size: 1.3rem;
}

.modal-header {
    border-bottom: none
}

#bouton-modale-maker {
    display: inline-block;
    font-family: 'Proxima-Nova-Regular', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    background-image: var(--meet-orange-gradient);
    width: 250px;
}

#bouton-modale-maker:hover {
    font-family: 'Proxima-Nova-Bold', Arial, Helvetica, sans-serif;
    background-image: none;
    background-color: var(--meet-orange);
}

#modale-choix {
    font-family: 'Proxima-Nova-Regular', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--meet-white);
}

#bouton-modale-votant {
    display: inline-block;
    font-family: 'Proxima-Nova-Regular', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    background-image: var(--meet-purple-gradient);
    width: 250px;
}

#bouton-modale-votant:hover {
    font-family: 'Proxima-Nova-Bold', Arial, Helvetica, sans-serif;
    background-image: none;
    background-color: var(--meet-dark-purple);
}

.modal-backdrop {
    z-index: 1;
}

.modal-dialog {
    max-width: 500px;
    margin: 5rem auto;
}

/************************************* HEADER *************************************/
/************************************* FIN HEADER *************************************/

/************************************* MAIN *************************************/

h1{
    text-align: center;
    margin-bottom: 5rem;
}

ol, ul {
    padding-left: 0;
}

/****** WIZARD ******/

label{
    color: var(--meet-white);
    text-transform: uppercase;
    padding: 5px 0 10px 5px ;
    margin-left: 5px;
    font-family: 'Proxima-Nova' ,sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.span-label {
    text-transform: initial;
}

main input{
    height: 55px;
    width: 447px !important;
    background-color: rgba(251, 247, 251, 0.06) !important;
    border-radius: 50px !important; 
    border: 1px solid var(--meet-white) !important;
}

::placeholder{
    color: var(--meet-white) !important;
    font-family: 'Proxima-Nova-Regular';
    padding: 10px;
    font-size: 1.4rem;
    opacity: 0.7 !important;
}

.form-control {
    color: var(--meet-white);
    font-family: 'Proxima-Nova-Bold';
    font-size: 1.6rem;
    padding-left: 1.5rem;
}

.spacer{
    margin-top: 100px;
}

#project_form_Description{
    background-color: rgba(251, 247, 251, 0.06) !important;
    border-radius: 50px !important; 
    border: 1px solid var(--meet-white) !important;
    height: 23.5rem
}
.wrapper{
    padding: 9rem;
    border: 2px solid var(--meet-light-purple);
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(127, 103, 142, 0.2), rgba(127, 103, 142, 0.2));
}
#progressbar {
    margin-bottom: 7rem;
    overflow: hidden;
    color: var(--meet-white);
    font-family: 'Proxima-Nova' sans-serif;
    text-transform: uppercase;
}

#progressbar .active {
    font-weight: bold;
}

#progressbar li {
    list-style-type: none;
    font-size: 1.2rem;
    width: calc(100%/3);
    float: left;
    position: relative;
    text-align: center;
}

#progressbar #wizard-creation:before {
    content: "1";
}

#progressbar #wizard-details:before {
    
    content: "2";
}

#progressbar #wizard-validation:before {
    content: "3";
}

#progressbar li::before {
    width: 33px;
    height: 33px;
    line-height: 25px;
    display: block;
    font-size: 18px;
    color: transparent;
    background: var(--meet-white);
    border: none;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    margin-top: 10px;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--meet-white);
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li:nth-child(1)::after  {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1)50%);
}

#progressbar li:nth-child(3)::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0)50%);
}

#progressbar li:nth-last-child(1)::after {
    content: '';
    width: 99.5%;
}

#progressbar li.active:before {
    background: var(--meet-orange-gradient);
    color: var(--meet-white);
    font-family: 'Good-Brush';
}

/****** FIN WIZARD ******/

.espace{
    padding: 5rem;
}

.btn-suivant{
    display:flex; 
    justify-content:flex-end; 
    align-items:center;
}

#bouton-suivant{
    width: 190px;
    height: 45px;
    border-radius: 20px;
    left: 1275px;
    top: 1351px;
    padding-top: 92px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    right: 0px;
}

/************************************* FIN MAIN *************************************/

/************************************* FOOTER *************************************/
#footer {
    background-color: var(--meet-black);
}

#footer #logo-footer {
    height: 80px;
}

#footer .social-network {
    height: 40px;
}

#footer ul li {
    font-family: 'Proxima-Nova-Regular';
    font-size: 1.4rem;
}

#footer hr {
    color: var(--meet-white);
}

a{
    color: white;
    text-decoration: none;
}

